/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE COMUNI */
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    cursor: pointer;
}

/* MENU LATERALE */
aside {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #000000;
    position: relative;
    top: 0;
    left: 0;
}

.logo {
    width: 70%;
    padding: 20px;
}

.side-icon {
    width: 10%;
    margin: 20px;
}

.side-icon img {
    margin-bottom: 10px;
}

/* MAIN */
.upgrade {
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 10; 
    width: calc(100% - 300px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.button {
    display: inline-block;
    margin-top: 20px;
    margin-right: 35px;
    border-radius: 50px;
    text-align: center;
    padding: 1em 3em;
    border: 2px solid white;
}

.upgrade > a.button:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    height: 100px;
}

.footer-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* footer sinistra */
.f-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12%;
}

.f-left img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-left .far {
    margin-right: 1em;
}

/* effetti all'hover */
.track a {
    color: #808080;
    font-size: 0.8em;
}

.track a:hover {
    color: white;
    text-decoration: underline;
}

.f-left .footer-icon {
    color: #808080;
}

.f-left .footer-icon i:hover {
    color: white;
}

/* footer centrale */
.f-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* icone footer centrale */
.f-center .fas {
    margin: auto 15px;
}

.f-center .fa-play-circle {
    font-size: 2.4em;
    margin: auto 20px;
}

.f-center .fa-play-circle:hover {
    transform: scale(1.1);
}

.track-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.track-time span {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 2em;
}

/* barra di progressione traccia */
.progress-bar {
    position: relative;
    height: 4px;
    width: 30vw;
    border-radius: 2px;
    background-color: #5a5a5a;
}

/* tempo trascorso */
.elapsed {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    border-radius: 2px;
    background-color: #c1c1c1;
}

.elapsed:hover {
    background-color: rgb(61, 219, 61);
    cursor: pointer;
}

.dot {
    display: none;
    position: absolute;
    right: 0;
    top: -6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.elapsed:hover .dot {
    display: block;
}

/* footer destro */
.f-right {
    display: inline-block;
}

.f-right i {
    margin-right: 15px;
    font-size: 0.9em;
}

/* barra volume */
.f-right .progress-bar {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    margin-right: 20px;
}